{namespace blog_templates}

/**
* Теги
* @param tags Теги
*/
{template .tags}
<div>
{foreach $tag in $tags}
<span class="a">{if $tag.tag}{$tag.tag}{else}{$tag}{/if}</span>,{sp}
{/foreach}
</div>
{/template}