/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.box-sizing {
  -moz-box-sizing: border-box;
  /*Firefox 1+*/
  -webkit-box-sizing: border-box;
  /*Safari 3+, Chrome 1+*/
  box-sizing: border-box;
  /*Opera 7+, IE8+*/
}
.clear_first_last_margin:first-child {
  margin-top: 0;
}
.clear_first_last_margin:last-child {
  margin-bottom: 0;
}
.p_margin_clear_first_last p:first-child {
  margin-top: 0;
}
.p_margin_clear_first_last p:last-child {
  margin-bottom: 0;
}
@keyframes loadingAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 80px;
  }
}
@-webkit-keyframes loadingAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 80px;
  }
}
.loading {
  background-color: #AAAAAA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #AAAAAA;
  position: absolute;
  z-index: 1;
}
.loading,
.loadingWhite {
  animation-name: loadingAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(16);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAADFBMVEUYV5L9//3+///////UOtrTAAAAA3RSTlMAYJ//OyGsAAAAf0lEQVR4Ae3MQQ3AMADEsKzhz3kUKjXPMwDzced4B+MR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjEeMR4xHjkROPvI0bN27cuHHjxo0bN27c+APRFiWBZzHP9wAAAABJRU5ErkJggg==");
  box-sizing: border-box;
}
