{namespace cookie_notice_templates}

/**
* Cookie Dialog
*/
{template .dialog}
<div class="cookie-notice">

  <div class="cookie-notice--message">Данный сайт использует cookie-файлы. Продолжая использовать данный ресурс, Вы автоматически соглашаетесь с использованием данных технологий.</div>

  <div class="cookie-notice--close">
    <button class="js-close">OK</button>
  </div>
  
</div>
{/template}