{namespace cookie_notice_templates}

/**
* Cookie Dialog
*/
{template .dialog}
<div class="cookie-notice">

  <div class="cookie-notice--message">Продолжая использовать сайт, вы соглашаетесь с использованием cookie.</div>

  <div class="cookie-notice--close">
    <button class="js-close">OK</button>
  </div>
  
</div>
{/template}