@import "../../plugins/wordpressmvc/css/mixins";
@import "../../plugins/wordpressmvc/css/standart";

body {
	background: white;
	margin: 0;
}

body, p, div {
	font-family: Arial;
}

a {
	color: #FF5C01;
}

// Чтобы в firefox вокруг ссылок не было точек при нажатии
:focus {outline:none;}
::-moz-focus-inner {border:0;}

// И так далее...